body {
  padding-top: 40px;
  margin: 0px 30px;
  background: #ECECEC;
  color: #575353;
  font-family: 'Open Sans', sans-serif;
}

.no-styles-list {
    list-style-type: none;
    padding:0;
    margin:0;
}

.starter-template {
  padding: 40px 15px;
}

.nav-text {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white !important;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

.popover ul {
    -webkit-padding-start: 0;
}

.question-series  {
    background-color: ghostwhite;
}

.question-series-list-bar {
    background-color: #575353;
    color: ghostwhite;
    font-size: 1.4em;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.error {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #ac2925;
    background-color: #e4b9c0;
    color: #ac2925;
    font-size: 1.2em;
    padding: 5px 10px 5px 10px;
}

table td {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 20px;
    border-top: 1px solid #dddddd;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
    padding-right: 0;
}

table tr th {
    padding: 5px;
}

.listing-s {
    border-style: solid;
    border-color: lightskyblue;
    border-width: 2px;
    margin: 10px 0 10px 0;
    padding: 10px;
    overflow: hidden;
}

.listing-s-header {
    font-size: 1.3em;
}

.listing-buttons {
    float: right;
}