<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Muokkaa ruokalajia</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
                        
            <h1>Muokkaa ruokalajia</h1>
            <h2 th:text="${course.name}">Ruokalaji</h2>
            
            <form id="courseForm" role="form" action="#" th:action="@{/ruokalajit/{id}/muokkaa(id=${course.id})}" th:object="${course}" method="post">
                <input type="hidden" id="id" name="id" th:value="${course.id}" />
                <div class="form-group" th:class="${#fields.hasErrors('name')}? has-error">
                    <label class="control-label" for="name">Nimi</label>
                    <input type="text" id="name" name="name" class="form-control" th:value="${course.name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('ordinality')}? has-error">
                    <label class="control-label" for="ordinality">Järjestysnumero</label>
                    <input type="number" id="ordinality" name="ordinality" class="form-control" th:value="${course.ordinality}"/>
                    <p th:if="${#fields.hasErrors('ordinality')}" th:errors="*{ordinality}">virheviesti</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tallenna" class="btn btn-primary" />
                    <a href="#" th:href="@{/ruokalajit}" class="btn btn-default">Peruuta</a>
                </div>
            </form>
            
        </div>
    </body>
</html>
