<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Ruokalajit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <section class="alert alert-success" th:if="${success}" th:text="${success}"></section>
            <h1>Ruokalajit</h1>  
            
             <a class="btn btn-primary" href="#" th:href="@{/ruokalajit/lisaa}">
                Lisää uusi ruokalaji
            </a>
            
            <article class="listing-s" th:each="course : ${courses}">
                <a href="#" th:href="@{/ruokalajit/{id}/muokkaa(id=${course.id})}"><span class="listing-s-header" th:text="${course.name}"></span></a>
                <span th:text="${course.ordinality}"> Järjestysnumero</span>                
                <form class="form-inline listing-buttons" action="#" th:action="@{/ruokalajit/{id}/poista(id=${course.id})}" method="post">
                    <a href="#" th:href="@{/ruokalajit/{id}/muokkaa(id=${course.id})}" class="btn btn-primary">Muokkaa</a>
                    <input type="submit" value="Poista" class="btn btn-danger" />
                </form>
            </article>           
            
        </div>
    </body>
</html>
