<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Muokkaa ruokatyyppiä</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="content">
            
            <h1>Muokkaa ruokatyyppiä</h1>
            <h2 th:text="${dishType.name}">Ruokatyyppi</h2>
            
            <form id="courseForm" role="form" action="#" th:action="@{/ruokatyypit/{id}/muokkaa(id=${dishType.id})}" th:object="${dishType}" method="post">
                <input type="hidden" id="id" name="id" th:value="${dishType.id}" />
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('name')}? has-error">
                        <label class="control-label" for="name">Nimi</label>
                        <input type="text" id="name" name="name" class="form-control" th:value="${dishType.name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-button-row">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                        <a href="#" th:href="@{/ruokatyypit}" class="btn btn-default">Peruuta</a>
                    </div>
                </div>
            </form>

        </div>
    </body>
</html>

