<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Ruokatyypit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <section class="alert alert-success" th:if="${success}" th:text="${success}"></section>
            <h1>Ruokatyypit</h1>  
            
             <a class="btn btn-primary" href="#" th:href="@{/ruokatyypit/lisaa}">
                Lisää uusi ruokatyyppi
            </a>
            
            <article class="listing-s" th:each="dishType : ${dishTypes}">
                <a href="#" th:href="@{/ruokatyypit/{id}/muokkaa(id=${dishType.id})}">
                   <span class="listing-s-header" th:text="${dishType.name}"></span>
                </a>            
                <form class="form-inline listing-buttons" action="#" th:action="@{/ruokatyypit/{id}/poista(id=${dishType.id})}" method="post">
                    <a href="#" th:href="@{/ruokatyypit/{id}/muokkaa(id=${dishType.id})}" class="btn btn-primary">Muokkaa</a>
                    <input type="submit" value="Poista" class="btn btn-danger" />
                </form>
            </article>

        </div>
    </body>
</html>

