<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Lisää aines</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <h1>Lisää aines</h1>

            <form id="ingredientForm" role="form" action="#" th:action="@{/ainekset/lisaa}" th:object="${ingredient}" method="post">
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('name')}? has-error">
                        <label class="control-label" for="name">Nimi</label>
                        <input type="text" id="name" name="name" class="form-control" th:value="${ingredient.name}" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('partitive')}? has-error">
                        <label class="control-label" for="partitive">Partitiivi</label>
                        <input type="text" id="partitive" name="partitive" class="form-control" th:value="${ingredient.partitive}" />
                        <p th:if="${#fields.hasErrors('partitive')}" th:errors="*{partitive}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="foodStuff">Ruoka-aine</label>
                        <select class="form-control" id="foodStuff" name="foodStuff">
                            <option th:each="foodStuff : ${FoodStuffs}"
                                    th:text="${foodStuff.name}"
                                    th:value="${foodStuff.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8" th:classappend="${#fields.hasErrors('comment')}? has-error">
                        <label class="control-label" for="comment">Kommentti</label>
                        <textarea id="comment" name="comment" th:text="${ingredient.comment}" class="form-control" rows="5"></textarea>
                        <p th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-button-row">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                        <a href="#" th:href="@{/ainekset}" class="btn btn-default">Peruuta</a>
                    </div>
                </div>
            </form>
            
        </div>
    </body>
</html>
