<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Lisää mitta</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <h1>Lisää mitta</h1>
            
            <form id="measureForm" role="form" action="#" th:action="@{/mitat/lisaa}" th:object="${measure}" method="post">
                <div class="form-group" th:class="${#fields.hasErrors('name')}? has-error">
                    <label class="control-label" for="name">Nimi</label>
                    <input type="text" id="name" name="name" class="form-control" th:value="${measure.name}" />
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('partitive')}? has-error">
                    <label class="control-label" for="partitive">Partitiivi</label>
                    <input type="text" id="partitive" name="partitive" class="form-control" th:value="${measure.partitive}" />
                    <p th:if="${#fields.hasErrors('partitive')}" th:errors="*{partitive}">virheviesti</p>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('abbreviation')}? has-error">
                    <label class="control-label" for="abbreviation">Lyhenne</label>
                    <input type="text" id="abbreviation" name="abbreviation" class="form-control" th:value="${measure.abbreviation}" />
                    <p th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}">virheviesti</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="measureType">Mittatyyppi</label>
                    <select id="measureType" name="measureType">
                        <option th:each="measureType : ${MeasureTypes}"
                                th:text="${measureType.name}"
                                th:value="${measureType.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tallenna" class="btn btn-primary" />
                    <a href="#" th:href="@{/mitat}" class="btn btn-default">Peruuta</a>
                </div>
            </form>

        </div>
    </body>
</html>
