<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Muokkaa mittaa</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <h1>Muokkaa mittaa</h1>
            <h2 th:text="${measure.name}">Mitta</h2>
            
            <form id="measureForm" role="form" action="#" th:action="@{/mitat/{id}/muokkaa(id=${measure.id})}" th:object="${measure}" method="post">
                <input type="hidden" id="id" name="id" th:value="${measure.id}" />
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('name')}? has-error">
                        <label class="control-label" for="name">Nimi</label>
                        <input type="text" id="name" name="name" class="form-control" th:value="${measure.name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('partitive')}? has-error">
                        <label class="control-label" for="partitive">Partitiivi</label>
                        <input type="text" id="partitive" name="partitive" class="form-control" th:value="${measure.partitive}"/>
                        <p th:if="${#fields.hasErrors('partitive')}" th:errors="*{partitive}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('abbreviation')}? has-error">
                        <label class="control-label" for="abbreviation">Lyhenne</label>
                        <input type="text" id="abbreviation" name="abbreviation" class="form-control" th:value="${measure.abbreviation}"/>
                        <p th:if="${#fields.hasErrors('abbreviation')}" th:errors="*{abbreviation}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="measureType">Mittatyyppi</label>
                        <select class="form-control" id="measureType" name="measureType">
                            <option th:each="measureType : ${MeasureTypes}"
                                    th:text="${measureType.name}"
                                    th:value="${measureType.id}"
                                    th:selected="${measure.measureType.id == measureType.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-button-row">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                        <a href="#" th:href="@{/mitat}" class="btn btn-default">Peruuta</a>
                    </div>
                </div>
            </form>
            
        </div>
    </body>
</html>
