<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Muokkaa reseptiä</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div th:fragment="content">
            
            <h1>Muokkaa reseptiä</h1>
            <h2 th:text="${recipe.title}">Reseptin nimi</h2>
            
            <form id="recipeForm" role="form" action="#" th:action="@{/reseptit/{id}/muokkaa(id=${recipe.id})}" th:object="${recipe}" method="post">
                <input type="hidden" id="id" name="id" th:value="${recipe.id}" />
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('title')}? has-error">
                        <label class="control-label" for="title">Nimi</label>
                        <input type="text" id="title" name="title" class="form-control" th:value="${recipe.title}"/>
                        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="dishType">Ruokatyyppi</label>
                        <select class="form-control" id="dishType" name="dishType">
                            <option th:each="dishType : ${DishTypes}"
                                    th:text="${dishType.name}"
                                    th:value="${dishType.id}"
                                    th:selected="${recipe.dishType != null} ? ${recipe.dishType.id == dishType.id} : false"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="course">Ruokalaji</label>
                        <select class="form-control" id="course" name="course">
                            <option th:each="course : ${Courses}"
                                    th:text="${course.name}"
                                    th:value="${course.id}"
                                    th:selected="${recipe.course != null} ? ${recipe.course.id == course.id} : false"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label" for="foodStuffs">Ruoka-aineet</label>
                        <select class="form-control" id="foodStuffs" name="foodStuffs" multiple="true">
                            <option th:each="foodStuff : ${FoodStuffs}"
                                    th:text="${foodStuff.name}"
                                    th:value="${foodStuff.id}"
                                    th:selected="${recipe.foodStuffs != null} ? ${recipe.foodStuffs.contains(foodStuff)} : false"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2" th:classappend="${#fields.hasErrors('preparationTime')}? has-error">
                        <label class="control-label" for="preparationTimeSection">Valmistusaika</label>
                        <div id="preparationTimeSection">
                            <input id="preparationHours" name="preparationHours" size="2" th:value="${recipe.preparationTime / 60}"/>
                            <input id="preparationMinutes" name="preparationMinutes" size="2" th:value="${recipe.preparationTime % 60}" />
                            <input type="hidden" id="preparationTime" name="preparationTime" 
                                   th:value="${recipe.preparationTime != null} ? ${recipe.preparationTime} : 0" />
                        </div>
                        <p th:if="${#fields.hasErrors('preparationTime')}" th:errors="*{preparationTime}">virheviesti</p>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="needsMarinating">Marinoitava</label>
                        <input type="checkbox" id="needsMarinating" name="needsMarinating" />
                        <input type="hidden" value="on" name="_needsMarinating" />                        
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('source')}? has-error">
                        <label class="control-label" for="source">Lähde</label>
                        <input type="text" id="source" name="source" class="form-control" th:value="${recipe.source}"/>
                        <p th:if="${#fields.hasErrors('source')}" th:errors="*{source}">virheviesti</p>
                    </div>
                </div>
                
                <div>
                    <h3>Ainekset</h3>
                    
                    <div id="ingredientList">
                        <div th:each="recipeIngredient : ${recipe.recipeIngredients}" class='form-group' th:attr="data-ingredientid=${recipeIngredient.ingredient.id}">
                            <div class="row ingredient-row">
                                <input type="hidden" class="recipeingredientid" th:value="${recipeIngredient.id}" />
                                <div class="col-md-1">
                                    <input type="text" class="form-control" 
                                           th:value="${recipeIngredient.amountInteger != null} ? ${recipeIngredient.amountInteger} : ${recipeIngredient.amountFloat}" />
                                </div>
                                <div class="col-md-3 form-control-static">
                                    <span th:text="${recipeIngredient.measure.partitive}"></span>
                                    <span th:text="${#strings.unCapitalize(recipeIngredient.ingredient.partitive)}"></span>
                                    <input type="hidden" class="measureid" th:value="${recipeIngredient.measure.id}"/>
                                    <input type="hidden" class="ingredientid" th:value="${recipeIngredient.ingredient.id}"/>
                                </div>
                                <button class="btn btn-danger btn-sm" type="button" th:attr="data-ingredientid=${recipeIngredient.ingredient.id}">Poista</button>
                            </div>
                        </div>
                    </div>
                    
                    <br />
                    <h4>Lisää uusi aines reseptiin</h4>
                    
                    <div class="row">
                        <div class="form-group col-md-1">
                            <label class="control-label" for="ingredientAmount">Määrä</label>
                            <input type="text" id="ingredientAmount" class="form-control" />
                            <p id="ingredientAmountError"></p>
                        </div>                    
                        <div class="form-group col-md-2">
                            <label class="control-label" for="ingredientMeasure">Mitta</label>
                            <select class="form-control" id="ingredientMeasure">
                                <option th:each="measure : ${Measures}"
                                        th:text="${measure.partitive}"
                                        th:value="${measure.id}"></option>
                            </select>
                            <p id="ingredientMeasureError"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="control-label typeahead-label" for="ingredientName">Aines</label>
                            <input type="text" id="ingredientName" class="form-control" />
                            <input type="hidden" id="ingredientId" />
                            <p id="ingredientNameError"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-button-row">
                            <button id="addIngredientButton" type="button" class="btn btn-warning">Lisää aines</button>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group col-md-8" th:classappend="${#fields.hasErrors('instructions')}? has-error">
                        <label class="control-label" for="instructions">Valmistusohje</label>
                        <textarea id="instructions" name="instructions" class="form-control" rows="20" th:text="${recipe.instructions}"></textarea>
                        <p th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-8" th:classappend="${#fields.hasErrors('comment')}? has-error">
                        <label class="control-label" for="comment">Kommentti</label>
                        <textarea id="comment" name="comment" class="form-control" rows="10" th:text="${recipe.comment}"></textarea>
                        <p th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">virheviesti</p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-button-row">
                        <input type="submit" value="Tallenna" class="btn btn-primary" />
                        <a href="#" th:href="@{/reseptit}" class="btn btn-default">Peruuta</a>
                    </div>
                </div>
            </form>
            

        </div>
        <th:block th:fragment="pagescript">
            <script src="/static/js/typeahead.bundle.js"></script>
            <script src="/static/js/recipe.js"></script>
            <script src="/static/js/recipe_edit.js"></script>
        </th:block>
    </body>
</html>
