<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>Akressiopertti - Lisää resepti</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            <h1>Lisää resepti</h1>

            <form id="recipeForm" role="form" action="#" th:action="@{/reseptit/lisaa}" th:object="${recipe}" method="post">
                <div class="form-group" th:class="${#fields.hasErrors('title')}? has-error">
                    <label class="control-label" for="title">Nimi</label>
                    <input type="text" id="title" name="title" class="form-control" />
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">virheviesti</p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dishType">Ruokatyyppi</label>
                    <select class="form-control" id="dishType" name="dishType">
                        <option th:each="dishType : ${DishTypes}"
                                th:text="${dishType.name}"
                                th:value="${dishType.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="course">Ruokalaji</label>
                    <select class="form-control" id="course" name="course">
                        <option th:each="course : ${Courses}"
                                th:text="${course.name}"
                                th:value="${course.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="foodStuffs">Ruoka-aineet</label>
                    <select class="form-control" id="foodStuffs" name="foodStuffs" multiple="true">
                        <option th:each="foodStuff : ${FoodStuffs}"
                                th:text="${foodStuff.name}"
                                th:value="${foodStuff.id}"></option>
                    </select>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('preparationTime')}? has-error">
                    <label class="control-label" for="preparationTime">Valmistusaika</label>
                    <input type="time" id="preparationTime" name="preparationTime" class="form-control" />
                    <p th:if="${#fields.hasErrors('preparationTime')}" th:errors="*{preparationTime}">virheviesti</p>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="needsMarinating" name="needsMarinating" />
                    <input type="hidden" value="on" name="_needsMarinating" />
                    <label for="needsMarinating">Marinoitava</label>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('source')}? has-error">
                    <label class="control-label" for="source">Lähde</label>
                    <input type="text" id="source" name="source" class="form-control" />
                    <p th:if="${#fields.hasErrors('source')}" th:errors="*{source}">virheviesti</p>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('instructions')}? has-error">
                    <label class="control-label" for="instructions">Valmistusohje</label>
                    <textarea id="instructions" name="instructions" class="form-control" rows="20"></textarea>
                    <p th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}">virheviesti</p>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('comment')}? has-error">
                    <label class="control-label" for="comment">Kommentti</label>
                    <textarea id="comment" name="comment" class="form-control" rows="10"></textarea>
                    <p th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}">virheviesti</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Tallenna" class="btn btn-primary" />
                    <a href="#" th:href="@{/reseptit}" class="btn btn-default">Peruuta</a>
                </div>
            </form>
            
            <th:block th:fragment="pagescript">
                <script src="/static/js/location_add.js"></script>
            </th:block>
        </div>
    </body>
</html>
