<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div  th:fragment="content">
            
            
            <th:block th:fragment="pagescript">
                <script src="/static/js/location_add.js"></script>
            </th:block>
        </div>
    </body>
</html>
